In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar'],
                   'B' : [1, 2, 3, 4, 5, 6],
                   'C' : [2.0, 5., 8., 1., 2., 9.]})

In [3]:
grouped = df.groupby('A')

In [4]:
# DataFrameGroupBy.filter(func, dropna=True, *args, **kwargs)

In [5]:
grouped.filter(lambda x: x['B'].mean() > 3.)

     A  B    C
1  bar  2  5.0
3  bar  4  1.0
5  bar  6  9.0

In [6]:
# DataFrameGroupBy.nunique(dropna=True)

In [7]:
df.groupby('A').nunique()

     B  C
A
bar  3  3
foo  3  2

In [8]:
# pandas.core.groupby.SeriesGroupBy.last
# SeriesGroupBy.last(numeric_only=False, min_count=-1, skipna=True)[source]
# Compute the last entry of each column within each group.

# Defaults to skipping NA elements.

# Parameters:
# numeric_onlybool, default False
# Include only float, int, boolean columns. If None, will attempt to use everything, then use only numeric data.

# min_countint, default -1
# The required number of valid values to perform the operation. If fewer than min_count valid values are present the result will be NA.

# skipnabool, default True
# Exclude NA/null values. If an entire row/column is NA, the result will be NA.

# Added in version 2.2.1.

# Returns:
# Series or DataFrame
# Last of values within each group.

In [9]:
df = pd.DataFrame(dict(A=[1, 1, 3], B=[5, None, 6], C=[1, 2, 3]))
df.groupby("A").last()

     B  C
A
1  5.0  2
3  6.0  3

In [10]:
# pandas.core.groupby.SeriesGroupBy.ngroup
# SeriesGroupBy.ngroup(ascending=True)[source]
# Number each group from 0 to the number of groups - 1.

# This is the enumerative complement of cumcount. Note that the numbers given to the groups match the order in which the groups would be seen when iterating over the groupby object, not the order they are first observed.

# Groups with missing keys (where pd.isna() is True) will be labeled with NaN and will be skipped from the count.

# Parameters
# :
# ascending
# bool, default True
# If False, number in reverse, from number of group - 1 to 0.

# Returns
# :
# Series
# Unique numbers for each group.

In [11]:
df.groupby("A").ngroup()

0    0
1    0
2    1
dtype: int64

In [12]:
df.groupby("A").ngroup(ascending=False)

0    1
1    1
2    0
dtype: int64

In [13]:
# pandas.core.groupby.SeriesGroupBy.tail
# SeriesGroupBy.tail(n=5)[source]
# Return last n rows of each group.

# Similar to .apply(lambda x: x.tail(n)), but it returns a subset of rows from the original DataFrame with original index and order preserved (as_index flag is ignored).

# Parameters
# :
# n
# int
# If positive: number of entries to include from end of each group. If negative: number of entries to exclude from start of each group.

# Returns
# :
# Series or DataFrame
# Subset of original Series or DataFrame as determined by n.

In [14]:
df = pd.DataFrame([['a', 1], ['a', 2], ['b', 1], ['b', 2]],
                  columns=['A', 'B'])
df.groupby('A').tail(1)

   A  B
1  a  2
3  b  2

In [15]:
df.groupby('A').apply(lambda x:x.tail())

C:\Users\00824732\AppData\Local\Temp\ipykernel_35584\2804816665.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby('A').apply(lambda x:x.tail())

     A  B
A
a 0  a  1
  1  a  2
b 2  b  1
  3  b  2

In [16]:
# pandas.core.groupby.DataFrameGroupBy.cumcount
# DataFrameGroupBy.cumcount(ascending=True)[source]
# Number each item in each group from 0 to the length of that group - 1.

# Essentially this is equivalent to

# self.apply(lambda x: pd.Series(np.arange(len(x)), x.index))
# Parameters
# :
# ascending
# bool, default True
# If False, number in reverse, from length of group - 1 to 0.

# Returns
# :
# Series
# Sequence number of each element within each group.

In [17]:
df.groupby('A').cumcount().reset_index()

   index  0
0      0  0
1      1  1
2      2  0
3      3  1

In [ ]:
# pandas.core.groupby.DataFrameGroupBy.ngroup
# DataFrameGroupBy.ngroup(ascending=True)[source]
# Number each group from 0 to the number of groups - 1.

# This is the enumerative complement of cumcount. Note that the numbers given to the groups match the order in which the groups would be seen when iterating over the groupby object, not the order they are first observed.

# Groups with missing keys (where pd.isna() is True) will be labeled with NaN and will be skipped from the count.

# Parameters
# :
# ascending
# bool, default True
# If False, number in reverse, from number of group - 1 to 0.

# Returns
# :
# Series
# Unique numbers for each group.

In [23]:
df = pd.DataFrame({"color": ["red", None, "red", "blue", "blue", "red"]})
df.groupby("color",dropna=True).ngroup()

0    1.0
1    NaN
2    1.0
3    0.0
4    0.0
5    1.0
dtype: float64

In [ ]:
# pandas.core.groupby.DataFrameGroupBy.size
# DataFrameGroupBy.size()[source]
# Compute group sizes.

# Returns
# :
# DataFrame or Series
# Number of rows in each group as a Series if as_index is True or a DataFrame if as_index is False.

# See also

# Series.groupby
# Apply a function groupby to a Series.

# DataFrame.groupby
# Apply a function groupby to each row or column of a DataFrame.

In [ ]:
# pandas.core.groupby.DataFrameGroupBy.first
# DataFrameGroupBy.first(numeric_only=False, min_count=-1, skipna=True)[source]
# Compute the first entry of each column within each group.

# Defaults to skipping NA elements.

# Parameters:
# numeric_onlybool, default False
# Include only float, int, boolean columns.

# min_countint, default -1
# The required number of valid values to perform the operation. If fewer than min_count valid values are present the result will be NA.

# skipnabool, default True
# Exclude NA/null values. If an entire row/column is NA, the result will be NA.

# Added in version 2.2.1.

# Returns:
# Series or DataFrame
# First values within each group.

In [25]:
df = pd.DataFrame(dict(A=[1, 1, 3], B=[None, 5, 6], C=[1, 2, 3],
                       D=['3/11/2000', '3/12/2000', '3/13/2000']))
df['D'] = pd.to_datetime(df['D'])
df.groupby("A").first()

     B  C          D
A
1  5.0  1 2000-03-11
3  6.0  3 2000-03-13