In [1]:
import pandas as pd
import numpy as np

In [2]:
# pandas.DataFrame.nunique
# DataFrame.nunique(axis=0, dropna=True)[source]
# Count number of distinct elements in specified axis.

# Return Series with number of distinct elements. Can ignore NaN values.

# Parameters
# :
# axis
# {0 or ‘index’, 1 or ‘columns’}, default 0
# The axis to use. 0 or ‘index’ for row-wise, 1 or ‘columns’ for column-wise.

# dropna
# bool, default True
# Don’t include NaN in the counts.

# Returns
# :
# Series

In [3]:
df = pd.DataFrame({'A': [4, 5, 6,1], 'B': [4, 1, 1,1]})
df.nunique()

A    4
B    2
dtype: int64

In [4]:
# pandas.DataFrame.value_counts
# DataFrame.value_counts(subset=None, normalize=False, sort=True, ascending=False, dropna=True)[source]
# Return a Series containing the frequency of each distinct row in the Dataframe.

# Parameters:
# subsetlabel or list of labels, optional
# Columns to use when counting unique combinations.

# normalizebool, default False
# Return proportions rather than frequencies.

# sortbool, default True
# Sort by frequencies when True. Sort by DataFrame column values when False.

# ascendingbool, default False
# Sort in ascending order.

# dropnabool, default True
# Don’t include counts of rows that contain NA values.

In [5]:
df.value_counts()

A  B
1  1    1
4  4    1
5  1    1
6  1    1
Name: count, dtype: int64

In [6]:
df.value_counts(normalize=True)

A  B
1  1    0.25
4  4    0.25
5  1    0.25
6  1    0.25
Name: proportion, dtype: float64

In [7]:
# pandas.DataFrame.tail
# DataFrame.tail(n=5)[source]
# Return the last n rows.

# This function returns last n rows from the object based on position. It is useful for quickly verifying data, for example, after sorting or appending rows.

# For negative values of n, this function returns all rows except the first |n| rows, equivalent to df[|n|:].

# If n is larger than the number of rows, this function returns all rows.

# Parameters
# :
# n
# int, default 5
# Number of rows to select.

# Returns
# :
# type of caller
# # The last n rows of the caller object.

In [8]:
df.tail()

   A  B
0  4  4
1  5  1
2  6  1
3  1  1

In [9]:
# pandas.DataFrame.add_prefix
# DataFrame.add_prefix(prefix, axis=None)[source]
# Prefix labels with string prefix.

# For Series, the row labels are prefixed. For DataFrame, the column labels are prefixed.

# Parameters:
# prefixstr
# The string to add before each label.

# axis{0 or ‘index’, 1 or ‘columns’, None}, default None
# Axis to add prefix on

# Added in version 2.0.0.

# Returns:
# Series or DataFrame
# New Series or DataFrame with updated labels.

In [10]:
s = pd.Series([1, 2, 3, 4])
s.add_prefix('item')

item0    1
item1    2
item2    3
item3    4
dtype: int64

In [11]:
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [3, 4, 5, 6]})
df.add_prefix('col_')

   col_A  col_B
0      1      3
1      2      4
2      3      5
3      4      6

In [12]:
# pandas.DataFrame.T
# property DataFrame.T[source]
# The transpose of the DataFrame.

# Returns
# :
# DataFrame
# The transposed DataFrame.

In [13]:
df.T

   0  1  2  3
A  1  2  3  4
B  3  4  5  6

In [14]:
# pandas.DataFrame.ndim
# property DataFrame.ndim[source]
# Return an int representing the number of axes / array dimensions.

# Return 1 if Series. Otherwise return 2 if DataFrame.

In [15]:
df.ndim

2

In [16]:
s = pd.Series({'a': 1, 'b': 2, 'c': 3})
s.ndim

1

In [17]:
# pandas.DataFrame.columns
# DataFrame.columns
# The column labels of the DataFrame.

In [18]:
df.columns

Index(['A', 'B'], dtype='object')

In [19]:
# pandas.DataFrame.dtypes
# property DataFrame.dtypes[source]
# Return the dtypes in the DataFrame.

# This returns a Series with the data type of each column. The result’s index is the original DataFrame’s columns. Columns with mixed types are stored with the object dtype. See the User Guide for more.

# Returns
# :
# pandas.Series
# The data type of each column.

In [20]:
df.dtypes

A    int64
B    int64
dtype: object

In [ ]:
# pandas.DataFrame.abs